/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [db]
GO
/****** Object:  Table [dbo].[trainList]    Script Date: 29-10-2017 00:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trainList](
	[trainNo] [nvarchar](10) NULL,
	[trainName] [nvarchar](250) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[trainList] ([trainNo], [trainName]) VALUES (N'12723', N'Telangana Express')
INSERT [dbo].[trainList] ([trainNo], [trainName]) VALUES (N'12721', N'Hyderabad Express')
INSERT [dbo].[trainList] ([trainNo], [trainName]) VALUES (N'17429', N'Rayalaseema Express')
